@charset "utf-8";
/* CSS Document */




@font-face{
	font-family:"source-semi";
	src: url("../font/SourceSansPro-Semibold.ttf");}

#wrapper{
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;}
.hero .container .box1, .font1 {
}

body, html {
    height: 100%;
}

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color:#FFFFFF;}

header{
	background: rgba(199,199,199,0.50);
	display:none;
	width: 100%;
	height: 100px;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 50;}
nav{
	width: 95%;
	height: 80px;
	padding: 10px;
	margin:auto;}
.nav1{
	width:50%;
	height:80px;
	margin:0;
	padding:0;						
	float: left;}
.logo{
	width:80px;
	height:80px;
	background-image:url(../img/axa-logo.png);
	background-size: contain;
	float: left;}
h1{
	color:#FFFFFF;
	letter-spacing: 5px;
	margin:25px 0 0 0;
	position: relative;
	left:20px;
	font-size: 20px;}
h2{
	text-align: center;
	font-family:"source-semi";
	color:white;
	border: solid;
	border-radius: 3px;
	border-width: 1.5px;
	border-color:#FFFFFF;
	display: inline-block;
	padding:4px;
	
}
.breaker1{
	background-color:cadetblue;
	text-align: center;
	padding:50px 80px;
	border-top: solid;
	border-bottom: solid;
	border-radius: 3px;
	border-width: 1.5px;
	border-color:white;
}
.breaker1 p{
	text-align: center;
	font-family:"source-semi";
	font-size: 20px;
	color:#FFFFFF;
}
.breaker2 h2{
	color:white;
	border: solid;
	border-radius: 3px;
	border-width: 1.5px;
	border-color:white;
	display: inline-block;
	padding:4px;
}
.breaker2{
	border-top: solid;
	border-bottom: solid;
	border-radius: 3px;
	border-width: 1.5px;
	border-color:white;
	background-color:coral;		
	text-align: center;
	padding:50px 80px;
}
.breaker2 p{
	text-align: center;
	font-family:"source-semi";
	font-size: 20px;
	color:#FFFFFF;
}
.nav2{
	width:50%;
	height:80px;
	margin:0;
	padding:0;
	float:left;}
.nav2 a{
	font-display: none;
	text-decoration: none;
	text-decoration-style: none;
	color:#FFFFFF;
	font-family:'source-semi';
	letter-spacing: 5px;
	font-size: 20px;
	text-align: right;
	float: right;
	margin:24px 0 0 0;}




.hero{
	background:url(../img/rocks1.jpg)no-repeat center;
	background-attachment:fixed;
	background-size:cover;
	height:100%;
	display:flex;}


.container{
	width:600px;
	height:500px;
	background:url(../img/switch.png)no-repeat left;
	background-size:cover; 
	margin:auto;
	display:none;
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	
	}

.container p{
	color:#FFFFFF;
	font-family:"source-semi";
	font-size: 100px;
	}

.box1{
	flex:1;
	display:none;
	transform: translate(75%,60%);
	}
.box2{
	flex:1;
	display:none;
	transform: translate(50%,0)}
.box3{
	flex:1;
	transform:translate(15%,-55%);
	display:none;}

.bus{
	background: url(../img/bus.jpg)no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height:50%;
}

.map{
	height:1000px;
	background-color:#FFFFFF;
}






@media (max-width: 1000px) {
    .hero {
        background-attachment: scroll;}
	.bus {
		background-attachment: scroll;}
}

/*  Mobile Site */
@media (max-width: 872px) {
	.hero{
		background:url(../img/rocks-mobile.jpg)no-repeat center;
		background-size: cover;
		height:100%;
		width:auto;}
	
	.container{
		width:300px;
		height:250px;}
	.container p{
	font-size: 30px;}
	
	.nav2 {		
		display:none;}
	
	.logo{
		width:40px;
		height:40px;}
	
	.nav1{
		width:100%;
		height:80px;
		margin-top:5%;
		padding:0;						
		float: left;}

		h1{
		font-size: 11px;
		position: relative;
		transform: translate(0,-90%);
		}

	.breaker1 p{
	font-size: 15px;}
	.breaker2 p{
	font-size: 15px;}
	
	.bus{
		background:url(../img/bus.jpg)center;
		height:700px;
		width:auto;
	}
	

}
	
