@charset "utf-8";
/* CSS Document */

   /*Fonts*/
@font-face{
	font-family:"source-semi";
	src: url("../font/SourceSansPro-Semibold.ttf");}
/*body details*/
#wrapper{
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;}

body, html {
    height: 100%;}
body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color:#FFFFFF;}
header{
	background: rgba(199,199,199,0.50);
	display:none;
	width: 100%;
	height: 100px;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 50;}

   /*Nav*/

nav{
	width: 95%;
	height: 80px;
	padding: 10px;
	margin:auto;}
.nav1{
	width:50%;
	height:80px;
	margin:0;
	padding:0;						
	float: left;}
.logo{
	width:80px;
	height:80px;
	background-image:url(../img/axa-logo.png);
	background-size: contain;
	float: left;}
.nav2{
	width:50%;
	height:80px;
	margin:0;
	padding:0;
	float:left;}
.nav2 a{
	font-display: none;
	text-decoration: none;
	text-decoration-style: none;
	color:#FFFFFF;
	font-family:'source-semi';
	letter-spacing: 5px;
	font-size: 20px;
	text-align: right;
	float: right;
	margin:24px 0 0 0;}

   /**/

h1{
	color:#FFFFFF;
	letter-spacing: 5px;
	margin:25px 0 0 0;
	position: relative;
	left:20px;
	font-size: 20px;}
h2{
	text-align: center;
	font-family:"source-semi";
	color:white;
	border: solid;
	border-radius: 3px;
	border-width: 1.5px;
	border-color:#FFFFFF;
	display: inline-block;
	padding:4px;}


	/*Page breakers between fixed scroll paralax effect images*/

.breaker1{
	background-color:cadetblue;
	text-align: center;
	padding:50px 80px;
	border-top: solid;
	border-bottom: solid;
	border-radius: 3px;
	border-width: 1.5px;
	border-color:white;}
.breaker1 p{
	text-align: center;
	font-family:"source-semi";
	font-size: 20px;
	color:#FFFFFF;}
.breaker2 h2{
	color:white;
	border: solid;
	border-radius: 3px;
	border-width: 1.5px;
	border-color:white;
	display: inline-block;
	padding:4px;}
.breaker2{
	border-top: solid;
	border-bottom: solid;
	border-radius: 3px;
	border-width: 1.5px;
	border-color:white;
	background-color:coral;		
	text-align: center;
	padding:50px 80px;}
.breaker2 p{
	text-align: center;
	font-family:"source-semi";
	font-size: 20px;
	color:#FFFFFF;}
.visalink{
	text-decoration: none;
	text-decoration-style: none;
	color:red;}

.hero{
	background:url(../img/rocks1.jpg)no-repeat center;
	background-attachment:fixed;
	background-size:cover;
	height:100%;
	display:flex;}
.bus{
	background: url(../img/bus.jpg)no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height:100%;
	display:flex}

#container{
	width:600px;
	height:500px;
	background:url(../img/switch.png)no-repeat left;
	background-size:cover; 
	margin:auto;
	display:none;
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;}

#container p{
	color:#FFFFFF;
	font-family:"source-semi";
	font-size: 100px;
	letter-spacing: 10px;}

#container1{
	width:600px;
	height:500px;
	background:url(../img/switch.png)no-repeat left;
	background-size:cover; 
	margin:auto;
	display:none;
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;}

#container1 p{
	color:#FFFFFF;
	font-family:"source-semi";
	font-size: 100px;
	letter-spacing: 10px;}

#container1 .box3{
	transform:translate(1%,-55%);}
.box1{
	flex:1;
	display:none;
	transform: translate(75%,60%);}
.box2{
	flex:1;
	display:none;
	transform: translate(50%,0)}
.box3{
	flex:1;
	transform:translate(15%,-60%);
	display:none;}
.map{
	height:100vh;
	background-color:#FFFFFF;
	width:100%;
	display:flex;
	background:url(../img/map-back.jpg)no-repeat center;
	background-size:cover;}
#holder{
	background:url(../img/map.jpg)no-repeat center;
	background-size:cover;
	width:80%;
	height:80%;
	background-color: red;
	margin:auto;
	display:flex;}
.button{
	width:400px;
	height:100px;
	background:url(../img/button.png)no-repeat;
	background-size:cover;
	margin:auto;}
.button:hover{
	opacity: 0.7;}

				.close{
				width:80px;
				height:80px;
				background:url(../img/close.png)no-repeat;
				background-size:contain;
				display:block;
				position: absolute;
				transform: translate(0,7%);
				bottom:0;
				left:47.5%;}

			.resp-menu{
				position:fixed;
				width: 100%;
				height:100vh;
				background: rgba(199,199,199,0.95);
				top:0;
				left: 0;
				display:none;}
			.j-holder{
				width:90%;
				height:80%;
				margin:auto;
				display:flex;
				top:10%;
				position: relative;
				flex-direction:row;}

#single{
	width:50%;
	height:100%;
	display:flex;
	flex-direction:column;
	border:solid;
	border-width: 3px;
	border-color:#FFFFFF;}
		.single-image{
			width:90%;
			height:60%;
			background:url(../img/bag.jpg)no-repeat;
			background-size: cover;
			margin:auto;
			-webkit-transition: -webkit-transform 0.4s ease;
 			-moz-transition: -moz-transform 0.4s ease;
 			-o-transition: -o-transform 0.4s ease;
 			transition: transform 0.4s ease;}

.single-image:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);}
		
.single-text{
			width:100%;
			height:40%;
			display:flex;}

#multi{
	width:50%;
	height:100%;
	display:flex;
	flex-direction:column;
	border:solid;
	border-width: 3px;
	border-color:#FFFFFF;}
		.multi-image{
			width:90%;
			height:60%;
			background:url(../img/road.jpg)no-repeat;
			background-size:cover;
			margin:auto;
			-webkit-transition: -webkit-transform 0.4s ease;
 			-moz-transition: -moz-transform 0.4s ease;
 			-o-transition: -o-transform 0.4s ease;
 			transition: transform 0.4s ease;}
.multi-image:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);}
		
.multi-text{
			margin:0;
			display:flex;
			width:100%;
			height:40%;}

.single-text p, .multi-text p{
	margin:auto;
	font-size:25px;
	text-decoration: none;
	color:#FFFFFF;
	font-family:"source-semi";
	text-align: center;}


.hideme{
	opacity:0;}

#footer{
	width:100%;
	height:100px;
	z-index: 30;
	display: flex;}
.footer-holder{
	display: inline-block;
	margin:auto;}
.footer-holder a{
	font-size:23px;
	text-decoration: none;
	text-decoration-style: none;
	font-family:"source-semi";
	color:darkgrey;
	margin:5px;
	padding:10px;
	border-left:solid;
	border-width: 2px;
	border-color:darkgrey;}
.footer-holder a:hover{
	opacity: 0.5;
}
.footer-holder a:first-child{
	border-width: 0px;}

.spacer{
	display:block;
	height:1%;}

/*Sing Trip Site*/

#area-1{
	height:100vh;
	padding:0;
	margin:0;
	display:flex;
	flex-direction: column;}
#hero1{
	flex:1 100%;
	display:flex;
	}
.hero-holder{
	background-color: red;
	width:50%;
	height:50%;
	display:flex;
	align-items: center;
	justify-content: center;
	margin:auto;
	font-family:"source-semi";
	color:#FFFFFF;
	font-size:3em;
	background:url(../img/family.jpg)no-repeat;
	background-size:cover;}
.hero-text{
	display: none;
	flex:1;
	text-align: center;
	margin:auto;

	
}
.hero-holder p{
	
}


	
.js1{
	display: none;}
.area-1-info{
	flex:2 100%;
	display:flex;
	flex-direction: row;
	background: 
				linear-gradient(63deg, #999 23%, transparent 23%) 7px 0, 
				linear-gradient(63deg, transparent 74%, #999 78%), 
				linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%), 
				#444;
	background-size: 16px 48px;
		}

.info-hero{
	flex:1 30%;
	display:flex;
	justify-content:flex-end;
	
	}
.info-hero1{
	width:80%;
	height:50%;
	display:none;}
.info-hero img{
	width:100%;
	height:auto;}
.info1{
	flex:1 35%;

}
.info2{
	flex:1 35%;
	
}





@media (max-width: 1000px) {
    .hero {
        background-attachment: scroll;}
	.bus {
		background-attachment: scroll;}
}

/*  Mobile Site */
@media (max-width: 872px) {
	.hero{
		background:url(../img/rocks-mobile.jpg)no-repeat center;
		background-size: cover;
		height:100%;
		width:auto;}
	
	#container{
		width:300px;
		height:250px;}
	#container p{
	font-size: 30px;}
	#container1{
		width:300px;
		height:250px;}
	#container1 p{
	font-size: 30px;}
	
	.nav2 {		
		display:none;}
	
		.logo{
		width:40px;
		height:40px;}
		.nav1{
		width:100%;
		height:80px;
		margin-top:5%;
		padding:0;						
		float: left;}
		h1{
		font-size: 11px;
		position: relative;
		transform: translate(0,-90%);}

	.breaker1 p{
	font-size: 15px;}
	.breaker2 p{
	font-size: 15px;}
	
	.bus{
		background:url(../img/bus.jpg)center;
		height:700px;
		width:auto;}
	.map{
	height:600px;
	background-color:#FFFFFF;
	display:flex;
	background:url(../img/map-back.jpg)no-repeat center;
	background-size:cover;}
	#holder{
	background:url(../img/map.jpg)no-repeat center;
	background-size:cover;
	width:80%;
	height:40%;
	background-color: red;
	margin:auto;}
.footer-holder a{
	font-size:12px;}
.spacer{
	display:block;
	height:1%;}
.button{
	width:200px;
	height:100px;
	background:url(../img/button2.png)no-repeat;
	background-size: contain;}
	.j-holder{
		margin-top:18%;
		flex-wrap: wrap;}
	#single{
		width:100%;
		height:50%;}
	#multi{
		width:100%;
		height:50%;}
	.close{
		width:100%;
		height:50px;
		transform: translate(0,0);
		background-size:contain;
		bottom:0;
		left:40%;
		top:12%;}
	header{
		height:80px;}
	.resp-menu{
		height:100%;}

/*Single Trip Site*/
	.hero-holder{
	width:90%;
	height:200px;
	background:url(../img/single-hero.png)no-repeat center left;
	}
	.hero-holder p{
		font-size:40px;
	}
	
	.area-1-info{
	flex:2 100%;
	display:flex;
	flex-direction: column;
	}

.info-hero{
	
	display:flex;
	justify-content:flex-end;
	
	}
.info-hero1{
	width:50%;
	height:auto;
	margin:auto;
	display:none;}
.info-hero img{
	width:100%;
	height:auto;}
.info1{
	flex:1 35%;
	background-color: yellow;
}
.info2{
	flex:1 35%;
	background-color: mediumvioletred;
}


}
	
